* text=auto eol=lf

.editorconfig text eol=lf
.gitattributes text eol=lf
*.hum text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.rs text eol=lf
*.toml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary